*{
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color:#5f687b;
}
body {
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif; */
	background:white;
  }
  
  /* Media for mobile devices */
  @media(min-width:100px){
    /* navigation */
    .nav-bar{
        height: 70px;
        width: 95%;
        position: fixed;
        background-color: #fff;
        z-index: 997;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
        text-align: center;
        align-items: center;
    }
    .logo{
        width: 10%;
    }
    .logo h1{
        color: #5f687b;
        font-size: 32px;
        font-family: 'Raleway', sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
    .navigation{
        width: 70%;
    }
    .navigation ul{
        display: none;
    }
    .bar{
        width:5%;
        display: block;
    }
    .bar i{
        color: #5f687b;
        font-size: 28px;
        cursor: pointer;
        line-height: 0;
    }
    /* header-container */
    .header-container{
        height: auto;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        padding: 60px 0 15px 0;
    }
    .header-right{
        padding: 10px;
        text-align: center;
        align-items: center;
    }
    .header-right img{
        width: 70%;
        height: auto;
        margin: auto;
    }
    .header-left{
        height: auto;
        width: 100%;
        padding: 10px;
    }
    .header-left h1{
        font-size: 28px;
        line-height: 36px;
        font-family: 'Raleway', sans-serif;
        margin: 0;
        font-weight: 700;
        color: #3e4450;
    }
    .header-left p{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        line-height: 24px;
        color: #858ea1;
        margin: 10px 0 30px 0;
    }
    .header-left button{
        border: none;
        height: 40px;
        width: 35%;
        border-radius: 3px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 16px;
        display: inline-block;
        color: #fff;
        background: #16df7e;
        box-shadow: 0 8px 28px rgb(22 223 126 / 45%);
    }
    .header-left span{
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 22px;
        margin: 0 0 0 10px;
    }
    /* header-flex box  */
    .header-flex{
        height: auto;
        width: 90%;
        margin: auto;
    }
    .header-box{
        height: auto;
        width: 100%;
        padding: 20px;
        color: #5f687b;
        background: #f9f9fa;
        border-radius: 4px;
        border: 1px solid #f9f9fa;
        margin-top: 15px;
    }
    .header-box i{
        color: #16df7e;
        font-size: 36px;
    }
    .header-box h3{
        color: #5f687b;
        font-family: "Raleway", sans-serif;
        padding: 10px 0;
        font-size: 20px;
    }
    .header-box p{
        line-height: 24px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
    }

    /* about */
    .about{
        height: auto;
        width: 90%;
        padding-top: 20px;
        margin: auto;
    }
    .about-left{
        width: 100%;
        text-align: center;
    }
    .about-left img{
        width: 90%;
    }
    .about-right{
        width: 100%;
        padding-top: 20px;
    }
    .about-right h3{
        font-weight: 700;
        font-size: 32px;
        color: #5f687b;
        font-family: "Raleway", sans-serif;
        padding-bottom: 10px;
        line-height: 1.2;
        color: #444444;
    }
    .about-right .text-italic{
        font-style: italic;
        font-size: 16px;
        padding-top: 10px;
        font-family: 'Open Sans', sans-serif;
        color: #444444;
        line-height: 1.3;
    }
    .about-right ul li{
        font-size: 16px;
        padding-top: 10px;
        font-family: 'Open Sans', sans-serif; 
        color: #444444;
        line-height: 1.3;
    }
    .about-right ul li i{
        color: #16df7e;
        font-size: 20px;
        margin: 0 5px 0 5px;
    }
    .about-right .text-bottom{
        font-size: 16px;
        color: #444444;
        font-family: 'Open Sans', sans-serif;
        padding: 10px 0;
        line-height: 1.3;
    }
    .about-number-flex{
        height: auto;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .count{
        width: 45%;
        text-align: center;
        padding: 10px 0;
    }
    .count span{
        font-size: 48px;
        font-family: 'Open Sans', sans-serif;
        color: #16df7e;
        font-weight: 700;
    }
    .count p{
        font-size: 14px;
        color: #444444;
        font-family: "Raleway", sans-serif;
        padding: 10px 0;
        font-weight: 700;
    }

    /* services */
    .service{
        height: auto;
        width: 100%;
        margin: auto;
        background: #f9f9fa;
    }
    .service-header{
        text-align: center;
        padding: 30px 0;
        height: auto;
        margin: auto;
        position: relative;
    }
    .service-header h1{
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 0;
        color: #5f687b;
        z-index: 1;
        position: relative;
        font-family: 'Raleway', sans-serif;
    }
    .service-header span{
        position: absolute;
        top: 25px;
        color: #f0f1f3;
        left: 0;
        right: 0;
        z-index: 0;
        font-weight: 700;
        font-size: 48px;
        text-transform: uppercase;
        line-height: 0;
        font-family: 'Open Sans', sans-serif;
    }
    .service-header p{
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        color: #444444;
        line-height: 1.2;
        padding: 10px;
    }
    .service-flex{
        height: auto;
        width: 100%;
        margin: auto;
        padding: 10px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .service-box{
        text-align: center;
        padding: 20px;
        height: auto;
        width: 90%;
        background: #fff;
        margin: 20px 0 0 0;
    }
    .service-box i{
        font-size: 40px;
        color: #16df7e;
    }
    .service-box h3{
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        padding: 15px 0;
    }
    .service-box p{
        font-size: 16px;
        line-height: 1.2;
        font-family: 'Open Sans', sans-serif;
    }

    /* portfolio */
    .portfolio{
        height: auto;
        width: 90%;
        margin: auto;
    }
    .port-header{
        height:auto;
        width:100%;
        padding:30px;
        text-align:center;
        align-items:center;
        position:relative;
    }
    .port-header span{
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        top:26px;
        color:#f4f4f4;
        left:0;
        right:0;
        z-index:1;
        font-weight:700;
        font-size:38px;
        text-transform:uppercase;
        line-height:0;
    }
    .port-header h1{
        font-family: 'Raleway', sans-serif;
        font-size:26px;
        font-weight:700;
        text-transform:uppercase;
        margin-bottom:20px;
        padding-bottom:0;
        color:#191919;
        position:relative;
        z-index:2;
    }
    .port-header p{
        font-size:16px;
        font-family: 'Open Sans', sans-serif;
        color: #444444;
        line-height: 1.2;
    }
    
    /*App flex*/
    .app-flex{
        display:flex;
        justify-content:center;
        padding:10px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #444444;
    }
    .all{
        color: #16df7e;
    }
    .app-flex p{
        margin:0 10px 0 10px;
    }
    /*body images*/
    .body-img{
        width: 100%;
    }
    .body-img img{
        height:auto;
        width:100%;
        padding-top: 10px;
    }

    /* Testimonials */
    .testimonials{
        height: auto;
        margin: auto;
        width: 100%;
        background-color: #f9f9fa;
        position: relative;
    }
    .test-flex{
        padding-top: 10px;
    }
    .testimonials-info{
        padding: 10px 0;
    }
    .testimonials-info p{
        width: 90%;
        margin: auto;
        height: auto;
        padding:40px 20px;
        background-color: #fff;
        font-size: 16px;
        line-height: 1.8;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-style: italic;
    }
    .testimonials-info p i{
        font-size: 30px;
        color: #f0f1f3;
        margin: 0 5px;
    }
    .profile img{
        width: 90px;
        border-radius: 50%;
        margin: -40px 0 0 40px;
        position: relative;
        z-index: 2;
        border: 6px solid #fff;
    }
    .profile h3{
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0 5px 45px;
        color: #111;
        font-family: "Raleway", sans-serif;
    }
    .profile span{
        font-size: 14px;
        color: #999;
        margin: 0 0 0 45px;
        font-family: "Raleway", sans-serif;
    }

    /* call to action */
    .call{
        height: auto;
        width: 100%;
        background-color: #16df7e;
        text-align: center;
        margin: auto;
        padding: 30px 20px;
    }
    .call h1{
        color: #fff;
        font-size: 28px;
        font-weight: 700;
        font-family: "Raleway", sans-serif;
        line-height: 1.5;
    }
    .call p{
        color: #fff;
        font-size: 16px;
        line-height: 1.3;
        font-family: 'Open Sans', sans-serif;
        padding: 20px 30px;
    }
    .call button{
        height: 40px;
        background: none;
        border: 2px solid white;
        color: #fff;
        width: 200px;
        margin: 10px 0;
    }

  }

  /* Media for 764px tab */
  @media(min-width:764px){
    /* navigation */
    .nav-bar{
        height: 70px;
        width: 90%;
        position: fixed;
        background-color: #fff;
        z-index: 997;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
        text-align: center;
        align-items: center;
    }
    .logo{
        width: 10%;
    }
    .logo h1{
        color: #5f687b;
        font-size: 32px;
        font-family: 'Raleway', sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
    .navigation{
        width: 70%;
    }
    .navigation ul{
        display: none;
    }
    .bar{
        width:5%;
        display: block;
    }
    .bar i{
        color: #5f687b;
        font-size: 28px;
        cursor: pointer;
        line-height: 0;
    }
    /* header-container */
    .header-container{
        height: auto;
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        padding: 60px 0 15px 0;
    }
    .header-right{
        padding: 10px;
        text-align: center;
        align-items: center;
    }
    .header-right img{
        width: 70%;
        height: auto;
        margin: auto;
    }
    .header-left{
        height: auto;
        width: 100%;
        padding: 10px;
    }
    .header-left h1{
        font-family: 'Raleway', sans-serif;
        font-size: 28px;
        line-height: 36px;
        margin: 0;
        font-weight: 700;
        color: #3e4450;
    }
    .header-left p{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        line-height: 24px;
        color: #858ea1;
        margin: 10px 0 30px 0;
    }
    .header-left button{
        border: none;
        height: 40px;
        width: 140px;
        border-radius: 3px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 16px;
        display: inline-block;
        color: #fff;
        background: #16df7e;
        box-shadow: 0 8px 28px rgb(22 223 126 / 45%);
    }
    .header-left span{
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 22px;
        margin: 0 0 0 10px;
    }
    /* header-flex box  */
    .header-flex{
        height: auto;
        width: 70%;
        margin: auto;
    }
    .header-box{
        height: auto;
        width: 100%;
        padding: 20px;
        color: #5f687b;
        background: #f9f9fa;
        border-radius: 4px;
        border: 1px solid #f9f9fa;
        margin-top: 15px;
    }
    .header-box i{
        color: #16df7e;
        font-size: 36px;
    }
    .header-box h3{
        color: #5f687b;
        font-family: "Raleway", sans-serif;
        padding: 10px 0;
        font-size: 20px;
    }
    .header-box p{
        font-family: 'Open Sans', sans-serif;
        line-height: 24px;
        font-size: 14px;
    }

    
    /* about */
    .about{
        height: auto;
        width: 80%;
        padding-top: 20px;
        margin: auto;
    }
    .about-left{
        width: 100%;
        text-align: center;
    }
    .about-left img{
        width: 80%;
    }
    .about-right{
        width: 100%;
        padding-top: 20px;
    }
    .about-right h3{
        font-weight: 700;
        font-size: 32px;
        color: #5f687b;
        font-family: "Raleway", sans-serif;
        padding-bottom: 10px;
        line-height: 1.2;
        color: #444444;
    }
    .about-right .text-italic{
        font-style: italic;
        font-size: 16px;
        padding-top: 10px;
        font-family: 'Open Sans', sans-serif;
        color: #444444;
        line-height: 1.3;
    }
    .about-right ul li{
        font-size: 16px;
        padding-top: 10px;
        font-family: 'Open Sans', sans-serif; 
        color: #444444;
        line-height: 1.3;
    }
    .about-right ul li i{
        color: #16df7e;
        font-size: 20px;
        margin: 0 5px 0 5px;
    }
    .about-right .text-bottom{
        font-size: 16px;
        color: #444444;
        font-family: 'Open Sans', sans-serif;
        padding: 10px 0;
        line-height: 1.3;
    }
    .about-number-flex{
        height: auto;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .count{
        width: 45%;
        text-align: center;
        padding: 10px 0;
    }
    .count span{
        font-size: 48px;
        font-family: 'Open Sans', sans-serif;
        color: #16df7e;
        font-weight: 700;
    }
    .count p{
        font-size: 14px;
        color: #444444;
        font-family: "Raleway", sans-serif;
        padding: 10px 0;
        font-weight: 700;
    }

     /* services */
     .service{
        height: auto;
        width: 100%;
        margin: auto;
        background: #f9f9fa;
    }
    .service-header{
        text-align: center;
        padding: 30px 0;
        height: auto;
        margin: auto;
        position: relative;
    }
    .service-header h1{
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 0;
        color: #5f687b;
        z-index: 1;
        position: relative;
        font-family: 'Raleway', sans-serif;
    }
    .service-header span{
        position: absolute;
        top: 25px;
        color: #f0f1f3;
        left: 0;
        right: 0;
        z-index: 0;
        font-weight: 700;
        font-size: 48px;
        text-transform: uppercase;
        line-height: 0;
        font-family: 'Open Sans', sans-serif;
    }
    .service-header p{
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        color: #444444;
        line-height: 1.2;
        padding: 10px;
    }
    .service-flex{
        height: auto;
        width: 100%;
        margin: auto;
        padding: 10px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .service-box{
        text-align: center;
        padding: 20px;
        height: auto;
        width: 75%;
        background: #fff;
        margin: 20px 0 0 0;
    }
    .service-box i{
        font-size: 40px;
        color: #16df7e;
    }
    .service-box h3{
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        padding: 15px 0;
    }
    .service-box p{
        font-size: 16px;
        line-height: 1.2;
        font-family: 'Open Sans', sans-serif;
    }

    /* portfolio */
    .portfolio{
        height: auto;
        width: 75%;
        margin: auto;
    }
    .port-header{
        height:auto;
        width:100%;
        padding:30px;
        text-align:center;
        align-items:center;
        position:relative;
    }
    .port-header span{
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        top:26px;
        color:#f4f4f4;
        left:0;
        right:0;
        z-index:1;
        font-weight:700;
        font-size:38px;
        text-transform:uppercase;
        line-height:0;
    }
    .port-header h1{
        font-family: 'Raleway', sans-serif;
        font-size:26px;
        font-weight:700;
        text-transform:uppercase;
        margin-bottom:20px;
        padding-bottom:0;
        color:#191919;
        position:relative;
        z-index:2;
    }
    .port-header p{
        font-size:16px;
        font-family: 'Open Sans', sans-serif;
        color: #444444;
        line-height: 1.2;
    }
    
    /*App flex*/
    .app-flex{
        display:flex;
        justify-content:center;
        padding:10px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #444444;
    }
    .all{
        color: #16df7e;
    }
    .app-flex p{
        margin:0 10px 0 10px;
    }
    /*body images*/
    .body-img{
        width: 100%;
    }
    .body-img img{
        height:auto;
        width:100%;
        padding-top: 10px;
    }

     /* Testimonials */
     .testimonials{
        height: auto;
        margin: auto;
        width: 100%;
        background-color: #f9f9fa;
        position: relative;
    }
    .test-flex{
        padding-top: 10px;
    }
    .testimonials-info{
        width: 70%;
        padding: 10px 0;
        margin: auto;
    }
    .testimonials-info p{
        width: 90%;
        margin: auto;
        height: auto;
        padding:40px 20px;
        background-color: #fff;
        font-size: 16px;
        line-height: 1.8;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-style: italic;
    }
    .testimonials-info p i{
        font-size: 30px;
        color: #f0f1f3;
        margin: 0 5px;
    }
    .profile img{
        width: 90px;
        border-radius: 50%;
        margin: -40px 0 0 40px;
        position: relative;
        z-index: 2;
        border: 6px solid #fff;
    }
    .profile h3{
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0 5px 45px;
        color: #111;
        font-family: "Raleway", sans-serif;
    }
    .profile span{
        font-size: 14px;
        color: #999;
        margin: 0 0 0 45px;
        font-family: "Raleway", sans-serif;
    }

     /* call to action */
     .call{
        height: auto;
        width: 100%;
        background-color: #16df7e;
        text-align: center;
        margin: auto;
        padding: 30px 20px;
    }
    .call h1{
        color: #fff;
        font-size: 28px;
        font-weight: 700;
        font-family: "Raleway", sans-serif;
        line-height: 1.5;
    }
    .call p{
        color: #fff;
        font-size: 16px;
        line-height: 1.3;
        font-family: 'Open Sans', sans-serif;
        padding: 20px 30px;
    }
    .call button{
        height: 40px;
        background: none;
        border: 2px solid white;
        color: #fff;
        width: 200px;
        margin: 10px 0;
    }
  }


   /* Media for 992px laptop */
   @media(min-width:992px){
    /* navigation */
    .nav-bar{
        position: fixed;
        background-color: #fff;
        z-index: 997;
        height: 70px;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        text-align: center;
        align-items: center;
    }
    .logo{
        width: 15%;
    }
    .logo h1{
        color: #5f687b;
        font-size: 32px;
        font-family: 'Raleway', sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
    .navigation{
        width: 75%;
        font-size: 18px;
    }
    .navigation ul{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 16px;
    }
    .home {
        color: #16df7e;
    }
    .btn{
        padding: 10px 25px;
        margin-left: 30px;
        border-radius: 4px;
        line-height: 1;
        color: #5f687b;
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        border: 1px solid #cdd1d9;
        background: #fff;
    }
    .bar{
        display: none;
    }
    .bar i{
        color: #5f687b;
        font-size: 28px;
        cursor: pointer;
        line-height: 0;
    }
    /* header-container */
    .header-container{
        height: auto;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 80px 20px 20px 20px;
    }
    .header-right{
        width: 45%;
        padding: 10px;
        text-align: center;
        align-items: center;
    }
    .header-right img{
        width: 75%;
        height: auto;
        margin: auto;
    }
    .header-left{
        padding-top: 80px;
        height: auto;
        width: 45%;
    }
    .header-left h1{
        font-family: 'Raleway', sans-serif;
        font-size: 48px;
        line-height: 55px;
        margin: 0;
        font-weight: 700;
        color: #3e4450;
    }
    .header-left p{
        font-size: 22px;
        line-height: 30px;
        color: #858ea1;
        padding: 10px;
        font-family: 'Raleway', sans-serif;
    }
    .header-left button{
        border: none;
        height: 40px;
        width: 140px;
        border-radius: 3px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 16px;
        display: inline-block;
        color: #fff;
        background: #16df7e;
        box-shadow: 0 8px 28px rgb(22 223 126 / 45%);
    }
    .header-left span{
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        padding-top: 10px;
    }
    .play-btn{
        align-items: center;
    }
    /* header-flex box  */
    .header-flex{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 30px;
    }
    .header-box{
        height: auto;
        width: 30%;
        padding: 20px;
        color: #5f687b;
        background: #f9f9fa;
        border-radius: 4px;
        border: 1px solid #f9f9fa;
        margin-top: 15px;
    }
    .header-box i{
        color: #16df7e;
        font-size: 36px;
    }
    .header-box h3{
        font-family: "Raleway", sans-serif;
        color: #5f687b;
        padding: 15px 0;
        font-size: 20px;
    }
    .header-box p{
        font-family: 'Open Sans', sans-serif;
        line-height: 24px;
        font-size: 14px;
        padding: 10px 0;
    }

    /* about */
    .about{
        height: auto;
        width: 100%;
        padding-top: 20px;
        margin: auto;
        transition: 0.8s;
    }
    .about-flex{
        display: flex;
        justify-content: space-evenly;
    }
    .about-left{
        width: 50%;
        text-align: center;
    }
    .about-left img{
        width: 90%;
    }
    .about-right{
        width: 50%;
        padding-top: 20px;
    }
    .about-right h3{
        font-weight: 700;
        font-size: 32px;
        color: #5f687b;
        font-family: "Raleway", sans-serif;
        padding-bottom: 10px;
        line-height: 1.2;
        color: #444444;
    }
    .about-right .text-italic{
        font-style: italic;
        font-size: 16px;
        padding: 10px 0;
        font-family: 'Open Sans', sans-serif;
        color: #444444;
        line-height: 1.3;
    }
    .about-right ul li{
        font-size: 16px;
        padding: 10px 0;
        font-family: 'Open Sans', sans-serif; 
        color: #444444;
        line-height: 1.3;
    }
    .about-right ul li i{
        color: #16df7e;
        font-size: 20px;
        margin: 0 5px 0 5px;
    }
    .about-right .text-bottom{
        font-size: 16px;
        color: #444444;
        font-family: 'Open Sans', sans-serif;
        padding: 10px 0;
        line-height: 1.3;
    }
    .about-number-flex{
        height: auto;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        padding-top: 30px;
    }
    .count{
        width: 25%;
        text-align: center;
        padding: 10px 0;
    }
    .count span{
        font-size: 48px;
        font-family: 'Open Sans', sans-serif;
        color: #16df7e;
        font-weight: 700;
    }
    .count p{
        font-size: 14px;
        color: #444444;
        font-family: "Raleway", sans-serif;
        padding: 10px 0;
        font-weight: 700;
    }

     /* services */
     .service{
        height: auto;
        width: 100%;
        margin: auto;
        background: #f9f9fa;
        padding: 40px 0;
    }
    .service-header{
        text-align: center;
        padding: 30px 0;
        height: auto;
        margin: auto;
        position: relative;
    }
    .service-header h1{
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 0;
        color: #5f687b;
        z-index: 1;
        position: relative;
        font-family: 'Raleway', sans-serif;
    }
    .service-header span{
        position: absolute;
        top: 25px;
        color: #f0f1f3;
        left: 0;
        right: 0;
        z-index: 0;
        font-weight: 700;
        font-size: 48px;
        text-transform: uppercase;
        line-height: 0;
        font-family: 'Open Sans', sans-serif;
    }
    .service-header p{
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        color: #444444;
        line-height: 1.2;
        padding: 10px;
    }
    .service-flex{
        height: auto;
        width: 100%;
        margin: auto;
        padding: 10px 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .service-box{
        text-align: center;
        padding: 90px 40px;
        height: auto;
        width: 30%;
        background: #fff;
        margin: 20px 0 0 0;
    }
    .service-box i{
        font-size: 40px;
        color: #16df7e;
    }
    .service-box h3{
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        padding: 15px 0;
    }
    .service-box p{
        font-size: 16px;
        line-height: 1.2;
        font-family: 'Open Sans', sans-serif;
    }

    /* portfolio */
    .portfolio{
        height: auto;
        width: 100%;
        margin: auto;
        padding: 40px 0;
    }
    .port-header{
        height:auto;
        width:100%;
        padding:30px;
        text-align:center;
        align-items:center;
        position:relative;
    }
    .port-header span{
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        top:26px;
        color:#f4f4f4;
        left:0;
        right:0;
        z-index:1;
        font-weight:700;
        font-size:48px;
        text-transform:uppercase;
        line-height:0;
    }
    .port-header h1{
        font-family: 'Raleway', sans-serif;
        font-size:32px;
        font-weight:700;
        text-transform:uppercase;
        margin-bottom:20px;
        padding-bottom:0;
        color:#191919;
        position:relative;
        z-index:2;
    }
    .port-header p{
        font-size:16px;
        font-family: 'Open Sans', sans-serif;
        color: #444444;
        line-height: 1.2;
    }
    
    /*App flex*/
    .app-flex{
        display:flex;
        justify-content:center;
        padding:10px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: #444444;
    }
    .all{
        color: #16df7e;
    }
    .app-flex p{
        margin:0 10px 0 10px;
    }
    /*body images*/
    .image-flex{
        display: flex;
        justify-content: space-evenly;
    }
    .body-img{
        width: 30%;
        text-align: center;
    }
    .body-img img{
        height:auto;
        width:100%;
    }

     /* Testimonials */
     .testimonials{
        height: auto;
        margin: auto;
        width: 100%;
        background-color: #f9f9fa;
        position: relative;
        padding: 50px 0;
    }
    .test-flex{
        padding-top: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .testimonials-info{
        padding: 10px 0;
        width: 30%;
    }
    .testimonials-info p{
        width: 90%;
        margin: auto;
        height: auto;
        padding:40px 20px;
        background-color: #fff;
        font-size: 16px;
        line-height: 1.8;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-style: italic;
    }
    .testimonials-info p i{
        font-size: 30px;
        color: #f0f1f3;
        margin: 0 5px;
    }
    .profile img{
        width: 90px;
        border-radius: 50%;
        margin: -40px 0 0 40px;
        position: relative;
        z-index: 2;
        border: 6px solid #fff;
    }
    .profile h3{
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0 5px 45px;
        color: #111;
        font-family: "Raleway", sans-serif;
    }
    .profile span{
        font-size: 14px;
        color: #999;
        margin: 0 0 0 45px;
        font-family: "Raleway", sans-serif;
    }

     /* call to action */
     .call{
        height: auto;
        width: 100%;
        background-color: #16df7e;
        text-align: center;
        margin: auto;
        padding: 30px 20px;
    }
    .call h1{
        color: #fff;
        font-size: 28px;
        font-weight: 700;
        font-family: "Raleway", sans-serif;
        line-height: 1.5;
    }
    .call p{
        color: #fff;
        font-size: 16px;
        line-height: 1.3;
        font-family: 'Open Sans', sans-serif;
        padding: 20px 30px;
    }
    .call button{
        height: 40px;
        background: none;
        border: 2px solid white;
        color: #fff;
        width: 200px;
        margin: 10px 0;
    }
  }